<?xml version="1.0"?>
<menu>
    <Services>
        <KeaUnbound VisibleName="Kea Unbound DDNS" cssClass="fa fa-globe fa-fw">
            <Settings order="10" VisibleName="Settings" url="/ui/keaunbound/general"/>
            <Status order="20" VisibleName="Status" url="/ui/keaunbound/status"/>
        </KeaUnbound>
    </Services>
</menu>
